body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

/* DIVS */
.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    margin-top: 20px;
}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-height: 20px;
}

.listItemWithButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-height: 20px;
}

/* FORMS */
form {
    margin-bottom: 20px;
}

input[type='text'],
input[type='date'] {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* HEADINGS & TEXT */
.mainH1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.mainH2 {
    font-size: 1.25rem;
    font-weight: 600;
}

.listH1 {
    font-size: 1.125rem;
    font-weight: medium;
}

.listSpan {
    font-size: 1.25rem;
    font-weight: medium;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.insuredsSearchInput {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.clientInfoDiv {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* BUTTONS */
button {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.addButton {
    background-color: #6b7280;
    color: #ffffff;
}

.addButton:hover {
    background-color: #4b5563;
}

.editButton {
    background-color: #6b7280;
    color: #ffffff;
}

.editButton:hover {
    background-color: #4b5563;
}

.detailButton {
    background-color: #3b82f6;
    color: #ffffff;
}

.detailbutton:hover {
    background-color: #2563eb;
}
